/* Common Shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}


/* Nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav_title{
    color: #181818;

    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
  
}
.primary_color{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn_primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    
    color: var(--White-Color, #FFF);
    
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
    

}

/* header related styles */
.header{
    background-color:#FFF8F3; ;
}

.banner{
    padding:5px 30px 5px 230px;
    display:flex;
    align-items: center;
}
.banner .profile_pic{
    width: 584px;
    /* height: 676px;
    flex-shrink: 0; */
}